.tecnologias {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.t-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.tec-title {
  background-color: #ffff;
  padding: 15px;
  color: rgba(32, 157, 217, 1);
  font-size: 1.8rem;
  text-transform: uppercase;
  border-radius: 150px;
  margin: 15px;
}
.tec-text {
  color: #ffff;
}
.t-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 60px;
}

.t-tec {
  text-align: center;
  width: 200px;
  height: 300px;
  background-color: var(--primary-color);
  border-radius: 20px;
}
.t-text {
  font-size: 0.8rem;
}
